<section>
	<h1>Bitcoin Donations</h1>
	<br>
	<center>
	<a href="bitcoin:{{ site.bitcoin }}"><img src="http://blockchain.info/qr?data={{ site.bitcoin }}&size=150" alt="Bitcoin"></a><br>
	<a class="small, monospace" href="bitcoin:187gRAhdyD2KaAhMND92RQMqQQMQtW678m">187gRAhdyD2KaAhMN</a><br>
	<a class="small, monospace" href="bitcoin:187gRAhdyD2KaAhMND92RQMqQQMQtW678m">D92RQMqQQMQtW678m</a>
	<br>
	<a href="/downloads/code/bitcoin.txt.asc">Proof</a>
	<br><br>
   <div id="coindesk-widget" data-align="center"></div>
   <script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js?aa4aca"></script>
	</center>
</section>
