<div class="about">
     <span class="about-image">
          <img class="borderless" src="/blog/contact/avatar.png" width="75" alt="Avatar">
     </span>
     <span class="about-desc">
          <span>
          <p class="about-heading">
          About The Author
          </p>
          Joe Ruether is the lead software engineer for the Multisensor Aircraft Tracking system at SRC Inc.
          He is an expert in C++ template metaprogramming and is interested in cryptography and open source software.
          </span>
          <br/>
          <hr/>
          <div class="about-twitter">
          <a href="https://twitter.com/jrruethe" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jrruethe</a>
          </div>
     </span>
</div>

<!--
 - Third person
 - Its about the reader, not you
 - Establish credibility
 - Explain what you do
 - Be personal
 - Focus on value to the readers
 - Don't be afraid to brag
 - Avoid writing something obnoxiously long
 - Customize it
 - Add an action (follow on twitter)
 - No "freelance"
-->
