// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article p{
    text-align:justify;
}

article blockquote{
  font-size: 18px;
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

.license {
   font-size: 13px;
}

.credit {
   font-size: 13px;
}

