// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article p{
    text-align:justify;
}

article blockquote{
  font-size: 18px;
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

.license {
   font-size: 13px;
}

.credit {
   font-size: 13px;
}

.borderless {
   border: 0px;
   box-shadow: 0px 0px 0px;
   border-radius: 0px;
   
   display: block;
   margin-left: auto;
   margin-right: auto;
}

aside.sidebar .borderless{
   border: 0px;
   box-shadow: 0px 0px 0px;
   border-radius: 0px;

}

.small {
   font-size: 13px;
}

.monospace {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
}

.title {
   font-size: 24px;
   text-align:center;
}

* + table {
  border-style:solid;
  border-width:2px;
  border-color:#e7e3e7;
  margin-left: auto;
  margin-right: auto;
}
 
* + table th, * + table td {

  border-width:2px;
  border-color:#e7e3e7;
  padding-left: 3px;
  padding-right: 3px;
}
 
* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #F7F3F7;
}
 
* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}
 
* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}
 
* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}

tr:hover {background-color: #f5f5f5}
tr:nth-child(even) {background-color: #f2f2f2}

@import "custom/caption"
